
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>

<div class="card">
    
    <div class="page-header">
        <h4><b>Thank you!</b></h4>
        <p>Your Payment is being processed</p>
    </div>
    <a href="@Url.Action("Index", "Home", null)" class="btn btn-danger">Back to HomePage</a>


    

    <div ></div>
</div>